.Navbar {
	position: 'fixed';
	width: 100vw;
	top: 10;
	z-index: 5 !important;
}

.NavbarIcon {
	opacity: 1;
	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
}

.NavbarIcon:hover {
	opacity: .4;
}

.Vlc {
	position:'fixed';
	border-left: 14px solid #3699ee;
	height: 100%;
}
.Vlm {
	position:'fixed';
	border-left: 14px solid #de2877;
	height: 100%;
}
.Vly {
	position:'fixed';
	border-left: 14px solid #f8cd5d;
	height: 100%;
}