.HomeView {
	margin-top: 100px;
	margin-bottom: 60px;
	text-align: left;
	color: white;
	justify-content: center;
}

.MagentaText {
	color: #de2877;
}

.CyanText {
	color: #3699ee;
}

.YellowText {
	color: #f8cd5d;
}

a {
	color: white !important
}

a:hover {
	text-decoration: none !important;
	color: #3699ee !important
}